/Doc/Documentation.aux
/Doc/Documentation.fdb_latexmk
/Doc/Documentation.fls
/Doc/Documentation.log
/Doc/Documentation.out
/Doc/Documentation.synctex.gz
/Doc/Documentation.tex
/Doc/Documentation.toc
/best(2).pt
/best(3).pt
/output.mp4
/seafloor_footage.mp4
/CrocoMarine_program_2024/__pycache__
/CrocoMarine_program_2024/ObjectTracker/__pycache__
/CrocoMarine_program_2024/Utilis/__pycache__
/API Documentation.pdf