/best(2).pt
/best(3).pt
/output.mp4
/seafloor_footage.mp4
/CrocoMarine_program_2024/__pycache__
/CrocoMarine_program_2024/ObjectTracker/__pycache__
/CrocoMarine_program_2024/Utilis/__pycache__
/API Documentation.pdf
/451007976_875441561268187_5221728724729172351_n.jpg
/Doc/API Documentation.aux
/Doc/API Documentation.fdb_latexmk
/Doc/API Documentation.fls
/Doc/API Documentation.log
/Doc/API Documentation.out
/Doc/API Documentation.synctex.gz
/Doc/API Documentation.toc